In [12]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Imports

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from diabetes_data_code.process_data import all_cols_to_int, rename_diabetes_column

sns.set_style("darkgrid")

[Diabetes Dataset](https://archive.ics.uci.edu/dataset/891/cdc+diabetes+health+indicators)

In [22]:
data = pd.read_csv(os.path.join("data", "raw", "diabetes_binary_health_indicators_BRFSS2015.csv"))

# EDA

## The Basics

In [24]:
df_processed = all_cols_to_int(data)
df_processed = rename_diabetes_column(df_processed)

In [26]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes              253680 non-null  int64
 1   HighBP                253680 non-null  int64
 2   HighChol              253680 non-null  int64
 3   CholCheck             253680 non-null  int64
 4   BMI                   253680 non-null  int64
 5   Smoker                253680 non-null  int64
 6   Stroke                253680 non-null  int64
 7   HeartDiseaseorAttack  253680 non-null  int64
 8   PhysActivity          253680 non-null  int64
 9   Fruits                253680 non-null  int64
 10  Veggies               253680 non-null  int64
 11  HvyAlcoholConsump     253680 non-null  int64
 12  AnyHealthcare         253680 non-null  int64
 13  NoDocbcCost           253680 non-null  int64
 14  GenHlth               253680 non-null  int64
 15  MentHlth              253680 non-null  int64
 16  PhysHlth              253680 non-null  int64
 17  DiffWalk              253680 non-null  int64
 18  Sex                   253680 non-null  int64
 19  Age                   253680 non-null  int64
 20  Education             253680 non-null  int64
 21  Income                253680 non-null  int64
dtypes: int64(22)
memory usage: 42.6 MB

In [28]:
to_describe_at_once = 5
cols = data.columns
i=0
num_cols = len(cols)
while i*to_describe_at_once <= num_cols:
    upper_col_num_bound = min(num_cols, (i+1)*to_describe_at_once)
    cols_this_iter = cols[i*to_describe_at_once:upper_col_num_bound]
    display(data[cols_this_iter].describe())
    for col in cols_this_iter:
        print(f"{col}'s unique values: {sorted(data[col].unique())}")
    i = i+1

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.139333,0.429001,0.424121,0.962670,28.382364
std,0.346294,0.494934,0.494210,0.189571,6.608694
min,0.000000,0.000000,0.000000,0.000000,12.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000
max,1.000000,1.000000,1.000000,1.000000,98.000000

Diabetes_binary's unique values: [0, 1]
HighBP's unique values: [0, 1]
HighChol's unique values: [0, 1]
CholCheck's unique values: [0, 1]
BMI's unique values: [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 98]

,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.443169,0.040571,0.094186,0.756544,0.634256
std,0.496761,0.197294,0.292087,0.429169,0.481639
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,1.000000
75%,1.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000

Smoker's unique values: [0, 1]
Stroke's unique values: [0, 1]
HeartDiseaseorAttack's unique values: [0, 1]
PhysActivity's unique values: [0, 1]
Fruits's unique values: [0, 1]

,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.811420,0.056197,0.951053,0.084177,2.511392
std,0.391175,0.230302,0.215759,0.277654,1.068477
min,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,0.000000,1.000000,0.000000,2.000000
50%,1.000000,0.000000,1.000000,0.000000,2.000000
75%,1.000000,0.000000,1.000000,0.000000,3.000000
max,1.000000,1.000000,1.000000,1.000000,5.000000

Veggies's unique values: [0, 1]
HvyAlcoholConsump's unique values: [0, 1]
AnyHealthcare's unique values: [0, 1]
NoDocbcCost's unique values: [0, 1]
GenHlth's unique values: [1, 2, 3, 4, 5]

,MentHlth,PhysHlth,DiffWalk,Sex,Age
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,3.184772,4.242081,0.168224,0.440342,8.032119
std,7.412847,8.717951,0.374066,0.496429,3.054220
min,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,6.000000
50%,0.000000,0.000000,0.000000,0.000000,8.000000
75%,2.000000,3.000000,0.000000,1.000000,10.000000
max,30.000000,30.000000,1.000000,1.000000,13.000000

MentHlth's unique values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
PhysHlth's unique values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
DiffWalk's unique values: [0, 1]
Sex's unique values: [0, 1]
Age's unique values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

           Education         Income
count  253680.000000  253680.000000
mean        5.050434       6.053875
std         0.985774       2.071148
min         1.000000       1.000000
25%         4.000000       5.000000
50%         5.000000       7.000000
75%         6.000000       8.000000
max         6.000000       8.000000

Education's unique values: [1, 2, 3, 4, 5, 6]
Income's unique values: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
from diabetes_data_code.visualizations import plot_binary_col, plot_numerical_cols


def plot_data(df: pd.DataFrame):
    for col in data.columns:
        unique_values = list(data[col].unique())
        is_binary = len(unique_values) == 2
        if is_binary and col != "Diabetes":
            plot_binary_col(data=df, col=col)
        elif col != "Diabetes":
            plot_numerical_cols(data=df, col=col)
        plt.suptitle(f"Summary of the {col} column")
        plt.show()
        plt.close("all")